{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="u" placeholder="Enter username">
    </div>
    <div class="mb-3">
        <label class="form-label">first_name</label>
        <input type="text" class="form-control" name="f" placeholder="Enter first_name">
    </div>
    <div class="mb-3">
        <label class="form-label">last_name</label>
        <input type="text" class="form-control" name="l" placeholder="Enter last_name">
    </div>
    <div class="mb-3">
        <label class="form-label">email</label>
        <input type="email" class="form-control" name="e" placeholder="Enter email">
    </div>
    <div class="mb-3">
        <label class="form-label">password</label>
        <input type="password" class="form-control" name="p" placeholder="Enter password ">
    </div>
    <div class="mb-3">
        <label class="form-label">place</label>
        <input type="text" class="form-control" name="pl" placeholder="Enter place ">
    </div>
    <div class="mb-3">
        <label class="form-label">phone</label>
        <input type="text" class="form-control" name="ph" placeholder="Enter phone ">
    </div>
    <div>
        <input type="submit" value="register">
    </div>
</form>
{% endblock %}